.main{
    margin: 30px;
    background-color: white;
}
body{
    background-color: #efefef;
}
.btn{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    height: 40px;
    width: 40px;
}
.text-desc{
    font-size:12px ;
    font-weight: normal;
    color: #999;
}